@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lacquer&family=Permanent+Marker&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root { 
     /*Colores globales*/
    --primary-violet: rgb(117, 81, 150);
    --second-violet: rgb(117 81 150);
    /* Fuentes globales */
    --font-text: 'Urbanist', sans-serif;
    --font-title: 'Unbounded', sans-serif;
}

html {
    scroll-behavior: smooth;

  }

.navbar {
    position: relative;
    max-height: 80px;
    z-index: 1000;
}

.navbar-toggler {
    padding: 0; /* Ajusta el espacio del ícono del menú */
}

.navbar-logo {
    width: 160px; 
    height: auto;
}

.flecha-navbar {
    color: var(--primary-violet);
}

.nav-link{
    font-family: var(--font-title) ;
    font-weight: 400 ;
    font-size: 1rem;
    cursor: pointer;
}

.button-navBar {
    font-size: 0.875rem; /* Botón más pequeño para pantallas pequeñas */
}


/*Media querys iphone */
@media (max-width: 576px) {
    .navbar  {
        max-height: 40px;
    }
    .navbar-logo {
        max-width: 80px;
        position: relative;
        left: 10px;
        bottom:35px;
     }

    .nav-link {
        font-size: 0.875rem; /* Reduce el tamaño de la fuente de los enlaces en pantallas pequeñas */}

    .navbar-toggler{
        position: relative;
        bottom:35px;
        margin-right:10px;
        max-width: 30px;
      
    }
    .navbar-toggler-icon{
        max-width:30px;

    }
    .button-navBar button {
        font-size: 0.75rem; /* Reducir el tamaño del botón en pantallas pequeñas */
        padding: 5px 10px;
        position: relative;
        bottom:35px;
    
    }
    
    .navbar-nav {
        flex-direction: column;
        text-align: center;
        background-color:white;
        position:relative;
        bottom:61px;
    }
    

    .navbar-nav .nav-item {
        margin-bottom: 1rem;
 }

    .button-navBar{
        position: relative;
        top: 30px;
    }
}