#nosotras  {
    min-height: 100vh; 
    background-color: #ededed;
}

/* Texto */
.sectionNosotrasText h1 {
    font-family: var(--font-title);
    font-weight: 300 ;
    font-size: 2rem;
}

.sectionNosotrasText span  {
    color: var(--second-violet);
    font-size: 2rem;
}
.sectionNosotrasText p  {
    font-family: var(--font-text);
    font-weight: 400 ;
    font-size: 1.2rem;
}

.sectionNosotrasText .button-Nosotras  {
    font-size: 1.2rem;
    font-family: var(--font-text);
    font-weight: 400 ;
}

/* Imagen */

.img-container {
    width: 100%; /* Ocupará todo el ancho del contenedor padre */
    max-width: 500px; /* Tamaño máximo del contenedor para limitar el diseño */
    height: auto; 
}

.featured-image {
    width: 100%; /* Ajustar al ancho del contenedor padre */
    height: auto; /* Mantener las proporciones de la imagen */
    object-fit: cover;
  }
  
.imagen-nosotras{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
};
  

/*Media query */
@media (max-width: 700px) {
    .sectionNosotrasText h1 {
        font-size: 0.1rem;
    }
    .sectionNosotrasText p  {
        font-size: 0.5rem;
    }
}


@media (min-width: 710px) and (max-width: 1024px)  {
    .sectionNosotrasText h1 {
        font-size: 1.3rem;
    }
    .sectionNosotrasText p  {
        font-size: 1rem;
    }
    .sectionNosotrasText span  {
        color: var(--second-violet);
        font-size: 1.5rem;
    }
    .sectionNosotrasText .button-Nosotras  {
        font-size: 1rem;
    }
}