:root {
    /*Colores globales*/
    --primary-violet: rgb(117, 81, 150);
    --second-violet: rgb(117 81 150);
    
    /* Fuentes globales */
    --font-text: 'Urbanist', sans-serif;
    --font-title: 'Unbounded', sans-serif;

    --font-title-size-min-cards: 1rem;
    --font-title-size-preferred-cards: 1.9rem;
    --font-title-size-max-cards: 2.5rem;
  
    --font-text-size-min-cards: 1rem;
    --font-text-size-preferred-cards: 1.5rem;
    --font-text-size-max-cards: 1.9rem;
  }


/* clamp(min, preferred, max); */
.card-title {
    font-size: clamp(var(--font-title-size-min-cards), var(--font-title-size-preferred-cards), var(--font-title-size-max-cards));
    font-family: var(--font-title);
    font-weight: 500;
  }
.card-text {
    font-size: clamp(var(--font-text-size-min-cards), var(--font-text-size-preferred-cards), var(--font-text-size-max-cards));
    font-family: var(--font-text);
    font-weight: 400;
  }

/* SPANS */
.span-violeta {
    color: var(--primary-violet);
    font-family: var(--font-hand);
    font-weight: 500;
    font-size: 3rem;
    display: inline;
}
@media (max-width: 768px) { 
  .span-violeta  {
    font-size: 1.5rem;
  }
  .card-title  {
    font-size: 1.1rem;
  }
  .card-text  {
    font-size: 0.9rem;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%; 
  width: 100%;
}

