@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lacquer&family=Permanent+Marker&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.sectionPortfolioText h1 {
  font-family: var(--font-title);
  font-weight: 300 ;
}

.buttonSectionPortfolio  {
  font-family: var(--font-title);
  font-weight: 300 ;
}

.portfolio-servicios-lista  {
  font-family: var(--font-title);
  font-weight: 300 ;
  font-size: 1.5rem;

}

.portfolio-servicios-lista  td  {
  padding-left: 50px;
}