.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
}

.text-container {
  max-width: 80%;
  margin: 0 auto;
}

.carousel-text {
  font-family: var(--font-title);
  font-weight: 300;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  line-height: 1.4;
}

/* Aseguramos que las imágenes cubran todo el espacio */
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}