/* SECTION */
#section-desarrollo {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;     
  align-items: center;         
  background-color: #fff;
  overflow: hidden;
}

/* CONTIENE imagen + texto */
.desarrollo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  gap: 2rem;                 
}

.desarrollo-header {
  width: 100%;
}

.desarrollo-img {
  width: 100%;                 
  height: 40vh;                
  object-fit: cover;
  display: block;
}

/* TEXTO DEBAJO DE LA IMAGEN */
.desarrollo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  max-width: 750px;
}

/* Responsive suave */
@media (max-width: 768px) {
  .desarrollo-wrapper {
    gap: 1.5rem;
  }
}
