#section-desarrollo {
    width: 100%;
}

.desarrollo-header {
    width: 100%;
    margin-bottom: 2rem;
}

.desarrollo-img {
    width: 100%;
    height: 40vh; 
    object-fit: cover;
    display: block;
}

#section-desarrollo .text-section {
    min-height: 60vh;         
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

@media (max-width: 768px) {
    .desarrollo-img {
        height: auto; 
        object-fit: contain; 
    }
     #section-desarrollo .text-section {
        min-height: auto; 
        padding: 2rem 1rem; 
    }
}