.sectionNosotrasText h1 {
    font-family: var(--font-title);
    font-weight: 300 ;
}

.sectionNosotrasText span  {
    color: var(--second-violet);
}
.sectionNosotrasText p  {
    font-family: var(--font-text);
    font-weight: 400 ;
}