/* Definición de variables para la sección del carrusel */
.section-carousel {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.section-carousel * {
  border: 1px solid hsl(var(--border));
}

.section-carousel .carousel-slide {
  transition: transform 0.3s ease;
}

.auto-carousel {
  width: 100vw; 
  display: flex;
  justify-content: flex-start; 
  overflow: hidden; 
  padding: 1rem 0; 
}

.section-carousel {
  min-height: 95vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

/* Reducir el tamaño de las imágenes */
.auto-carousel .carousel-img {
  max-height: 30vh; 
  width: 100%;
  width: auto;
  object-fit: contain;
}





