.section-contacto {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  }
  
  /* Estilos de texto específicos */
  .section-contacto h1 {
    font-family: var(--font-title);
    font-weight: 230;
    font-size: 2rem;
    color: grey;
  }
  
  .section-contacto .text-accent {
    font-family: var(--font-hand);
    color: var(--second-violet);
    font-size: 2.7rem;
  }
  
  .section-contacto p {
    font-family: var(--font-text);
    font-weight: 250;
    font-size: 1.3rem;
    color: grey;
  }
  
  .section-contacto .form-label {
    font-family: var(--font-text);
    font-weight: 250;
    font-size: 1.3rem;
    color: grey;
  }
  
  /* Adaptaciones para móviles y tablets */
  @media (max-width: 768px) {
    .section-contacto h1 {
      font-size: 1.8rem;
    }
    
    .section-contacto .text-accent {
      font-size: 2.2rem;
    }
    
    .section-contacto p {
      font-size: 1.1rem;
    }
    
    .section-contacto .form-label {
      font-size: 1.1rem;
    }
    
    .custom-button {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 430px) {
    .section-contacto h1 {
      font-size: 1.2rem;
    }
    
    .section-contacto .text-accent {
      font-size: 1.3rem;
    }
    
    .section-contacto p {
      font-size: 1rem;
    }
    
    .section-contacto .form-label {
      font-size: 1rem;
    }
    
    .custom-button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }