.buttom-aduo {
    background-color: transparent;
    border: 2px solid var(--primary-violet);
    border-radius: 20px;
    transition: all 0.3s ease;
    padding: 0.3rem 1.2rem;
    text-decoration: none;
    font-family: var(--font-text) ;
    font-weight: 500;
    max-width: 300px;
    color: black;
    font-size: clamp(0.9rem, 1.2rem, 1.8rem);
    cursor: pointer;
    outline: none;
    display: inline-block;
    min-width: 150px;
    max-width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap; 
}

.buttom-aduo:hover {
    background-color: var(--primary-violet);
    color: white;
}
.buttom-aduo:hover {
    background-color: var(--primary-violet);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.buttom-aduo:active {
    transform: translateY(-1px);
  }
  

/* Boton Inicio */
.button-inicio {
    margin-top: 2%;
    font-size: 1.7rem;
    font-weight: 400; 
    color: white;
    border-color: white;
    font-weight: 400;
    padding: 0.3rem 1.1rem;
}

.button-inicio:hover  {
    background-color: grey;
    box-shadow: none;
}

/* Boton portfolio */ 
.button-portfolio  {
    border-color: black;
    font-size: 1.4rem;
}

.button-portfolio:hover  {
    color: white;
    background-color: black;
}

/* Boton contacto */
.button-formulario {
  background-color: var(--second-violet) !important;
  border-color: var(--second-violet) !important;
  color: white !important;
  padding: 0.3rem 0.1rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

.button-formulario:hover {
  background-color: transparent !important;
  color: var(--second-violet) !important;
  border-color: var(--second-violet) !important;
}

/* Responsive */   
@media (max-width: 768px) {
    .buttom-aduo {
      /* padding: 0.4rem 1.2rem; */
      min-width: 70px;
      font-size: clamp(0.7rem, 0.8rem, 1.1rem);
      border-width: 1.8px;
    }
  }
  



