.buttom-aduo {
    background-color: transparent;
    border: 2px solid var(--primary-violet);
    border-radius: 20px;
    transition: all 0.3s ease;
    padding: 2px 15px 2px;
    text-decoration: none;
    font-family: var(--font-text) ;
    font-weight: 500;
    max-width: 300px;
    color: black;
    font-size: clamp(1rem, 1.3rem, 1.8rem);;
}

.buttom-aduo:hover {
    background-color: var(--primary-violet);
    color: white;
}

