@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lacquer&family=Permanent+Marker&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* CARROUSEL */
#carouselExample {
    max-height: 95vh; /* Se ajusta al 90% de la altura de la ventana */
    overflow: hidden;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* CARROUSEL TEXT */
.carousel-fixed-text {
    position: absolute; /*Usas absolute para ignorar el flujo normal*/
    width: 100%;
    text-align: left;
    top: 20%; 
    left: 55%;
    transform: translateX(-50%);
    padding: 0 10px;
    z-index: 10; /* controla la "profundidad" visual de los elementos, posiicion al texo por encima de las imagenes */
    color: white; 

}

.carousel-h1  {
    font-size: 3.5rem;
    font-family: var( --font-title);
    font-weight: 320; 
    word-spacing: 0em;
    line-height: 0.8;
}

.carousel-h1 span {
    font-family: var(--font-pastel);  /* Aplica la fuente correcta al span */
    font-size: 4.5rem;
    word-spacing: 0em;
}

.carousel-fixed-text  p  {
    font-family: var(--font-text);
    font-size: 2rem;
    font-weight: 300; 
    line-height: 1.2;
}


/* CARROUSEL BOTON */
.carousel-fixed-text .buttom-aduo {
    font-family: var(--font-text);
    font-size: 2rem;
    font-weight: 300; 
    color: white !important;
    border-color: white !important;
    border-radius: 7px;
    font-size: 2rem;
    margin-top: 5% !important;
    font-weight: 300;
    padding: 3px 8px;
    min-width: 5%;
}

.carousel-fixed-text .buttom-aduo:hover {
    color: white !important;
    border-color: white !important;
    background-color: grey !important; /* Mantiene el fondo transparente al hacer hover */
    box-shadow: none !important; /* Elimina el efecto de sombra */
}

/* ICONOS */
.carousel-iconos {
    position: fixed; 
    bottom: 5%; 
    right: 5%; 
    z-index: 10; 
    display: flex;
}

.carousel-iconos img {
    width: 9vw; /* Ajusta el tamaño de los íconos */
    height: auto; /* Mantiene la proporción del aspecto */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */

   margin-right: -2vw;
}

.icono{
    margin-right: -20px;

}


/* Media querys iphone*/ 
@media (max-width: 768px) {
    .carousel-fixed-text {
        top: 5%; /* Reduce el margen superior */
        padding: 0 5%; }

    .carousel-h1 {
        font-size: 1.8rem; /* Texto más pequeño */ }

    .carousel-h1 .highlight-text {
        font-size: 2rem; /* Reduce el tamaño de los spans */ }

    .carousel-fixed-text p {
        font-size: 0.9rem; }

    .carousel-fixed-text button {
        font-size: 0.9rem; /* Botón más pequeño */}

    .carousel-iconos img {
        width: 40px; /* Iconos más pequeños */
}
}

@media (max-width: 576px) {
    .carousel-h1 {
        font-size: 1.5rem;
        position: relative;
        right: 15px;
    }

    .carousel-h1 span {
        font-size:2.5rem;
    }

    .carousel-fixed-text p {
        font-size: 0.8rem;
        position: relative;
        right: 15px;
    }

    .carousel-fixed-text button {
        font-size: 0.7rem;
        padding: 3px 8px;
        width: 28%;
        position: relative;
        right: 15px;
    }

    .carousel-iconos img {
        width: 50px; /* Iconos más pequeños para pantallas muy pequeñas */ }
}
