@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lacquer&family=Permanent+Marker&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* CARROUSEL */
#carouselExample {
    max-height: 95vh;
    overflow: hidden;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* CARROUSEL TEXT */
.carousel-fixed-text {
    position: absolute; 
    width: 100%;
    text-align: left;
    top: 20%; 
    left: 55%;
    transform: translateX(-50%);
    padding: 0 10px;
    z-index: 10; 
    color: white; 
}

.carousel-h1  {
    font-size: 3rem;
    font-family: var( --font-title);
    font-weight: 320; 
    word-spacing: 0em;
    line-height: 0.8;
}

.carousel-h1 span {
    font-family: var(--font-pastel);  
    font-size: 6rem;
    word-spacing: 0em;
}

/* ICONOS */
.carousel-iconos {
    position: fixed; 
    top: 80vh; 
    right: 5%; 
    z-index: 999;
    display: flex;
}

.carousel-iconos img {
    width: 9vw; 
    height: auto; 
    cursor: pointer; 
    margin-right: -2vw;
}

.icono{
    margin-right: -20px;
}


/* Media querys */ 
@media (max-width: 768px) {
    .carousel-fixed-text {
        padding: 0 5%; }

    .carousel-h1 {
        font-size: 1.4rem; }

    .carousel-h1 span {
        font-size: 1.8rem; }
    .carousel-iconos {
        top: 32vh;
        right: 6%;
        gap: 1rem;
    }
    .carousel-iconos img {
        width: 10vw;
    }
}


