#sectionBarra {
  background-color: var(--second-violet);
  padding: 4rem 0;
}

#sectionBarra .card-title {
  cursor: pointer;
  color: white;
  margin: 0;
}

.section-link {
  color: inherit;
  text-decoration: none;
}

#sectionBarra .card-title:hover {
  transform: scale(1.05);
}

/* Mobile */
@media (max-width: 768px) {
  #sectionBarra {
    padding: 3rem 0;
  }

  #sectionBarra .section-link {
    font-size: 1.4rem;
  }
}
