#Footer  {
    font-family: var(--font-text);
    font-weight: 250 ;
    font-size: 1rem;
}

.marquee {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: rgb(117 81 150);
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);  /* Sombra hacia arriba */
    transform: rotate(-1deg);  /* Inclina el div hacia la izquierda */
    z-index: 1;
}

.track {
    display: flex;
    animation: marquee-animation 15s linear infinite;
}

.content {
    display: flex;
    white-space: nowrap;
}

.content span {
    padding-right: 2rem;
    /* Espacio entre los textos */
    font-size: 18px;
    /* Ajusta el tamaño del texto */
}

@keyframes marquee-animation {
    0% {
        transform: translateX(100%);
        /* Comienza desde el borde derecho */
    }

    100% {
        transform: translateX(-100%);
        /* Termina en el borde izquierdo */
    }
}