#Footer {
    font-family: var(--font-text);
    font-weight: 250;
    font-size: 0.9rem;
    min-height: auto;
    border-bottom: 0px solid #000 !important;
}

.marquee {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: rgb(117 81 150);
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
    transform: rotate(-1deg);
    z-index: 1;
    border: none;
    margin-top: 0.5rem;
    max-width: 100vw;
}

.track {
    display: flex;
    animation: marquee-animation 15s linear infinite;
}

.content {
    display: flex;
    white-space: nowrap;
}

.content span {
    padding-right: 2rem;
    font-size: 16px;
}

.footer-links .list-group-item:hover {
    color: rgb(117, 81, 150) !important;
    cursor: pointer;
}

.footer-logo {
    max-height: 100px;
}

@keyframes marquee-animation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Responsive */
@media (max-width: 768px) {

  .marquee {
    width: 100vw;
    max-width: 100vw;
    height: 40px;              
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(117 81 150);
    transform: none !important;
    display: flex;
    align-items: center;
  }

  .track {
    display: flex;
    width: max-content;
    animation: marquee-animation 15s linear infinite;
  }

  .content {
    display: flex;
    white-space: nowrap;     
  }

  .content span {
    display: inline-block;
    font-size: 0.9rem;
    padding-right: 2rem;
    line-height: 40px;         
  }
  #Footer .footer-logo {
    max-height: 150px !important;  
    margin: 0 auto !important;    
    display: block;
  }

  #Footer .logo-col {
    text-align: center !important;
  }
}
