@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lacquer&family=Permanent+Marker&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


#servicios  {
  min-height: 100vh;
}

.sectionPortfolioText {
  min-height: 20vh; /* Usa vh para que sea relativo a la altura de la pantalla */
}

.img-table-component  {
  min-height: 60vh;
}

.sectionButtonPortoflio  {
  min-height: 20vh; 
}



/* Textos */
.sectionPortfolioText h1 {
  font-family: var(--font-title);
  font-weight: 250 ;
  font-size: 1.7rem
}

.SpanPortfolioHand  {
  font-family: var(--font-hand);
  font-size: 2.2rem;
}

/*Boton*/
.buttonSectionPortfolio  {
  font-family: var(--font-title);
  font-weight: 250 ;
  font-size: 1.5rem
}

/*Servicios*/
.portfolio-servicios-lista  {
  font-family: var(--font-title);
  font-weight: 250 ;
  font-size: 1.5rem;

}

.portfolio-servicios-lista  td  {
  padding-left: 50px;
}



/* Media Query */
@media (max-width: 480px)  {  /*tamaño iphone*/

  #servicios  {
    height: auto;
    position: relative;
    top:10px;
  }
  .SpanPortfolioHand  {
    font-size: 1.5rem;
  }
  .sectionPortfolioText  {
    margin: 3%;
  }
    .sectionPortfolioText h1  {
      font-size: 0.9rem;
    }
    .portfolio-servicios-lista  {
      font-size: 0.75rem;
    }
    .buttonSectionPortfolio  {
      font-size: 0.8rem;
      position: relative;
      top:10px
    }
    .sectionButtonPortoflio  {
      margin: 4%;
    }
    .img-fluid{
      position: relative;
      bottom:9px;
      
    }
}

