#portfolio {
  min-height: auto;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.img-table-container {
  display: flex;
  width: 100%;
  margin: 0;
  height: 500px; 
}

.img-wrapper {
  height: 100%;
  padding: 0;
}

.img-component {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.services-list-column {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.table-container {
  width: 100%;
  height: 100%;
}

.portfolio-servicios-lista {
  transition: border-color 0.2s ease;
}

.portfolio-servicios-lista:has(tr[style*="opacity: 0"]) {
  border-color: white !important;
}

.portfolio-servicios-lista:has(tr[style*="opacity: 1"]) {
  border-color: black !important;
}

/* Textos */
.sectionPortfolioText {
  padding: 3rem 0rem;
  border: none;
}

.sectionportfoliotitle {
  line-height: 1.2
}

/* Servicios */
.portfolio-servicios-lista td {
  padding-left: 2rem;
}
.service-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Highlight interactivo */
.img-component {
  position: relative;
  overflow: hidden;
}

.img-component:hover .highlight {
  opacity: 1;
}


/* Responsive */
@media (max-width: 768px) {
  .sectionPortfolioText {
    width: 100% !important;
    margin: 0 auto;
    text-align: center !important;
  }
  .img-table-container {
    flex-direction: column;
    height: auto;
  }
  .img-component {
    min-height: 250px;
  }
  .sectionPortfolioText {
    padding: 1rem;
    width: 70%;
  }
  .portfolio-servicios-lista td {
    padding: 0.75rem 1em;
  }
  .portfolio-servicios-lista {
    margin-top: 1rem;
  }
  .services-list-column {
    margin-top: 0;
  }
  #portfolio .sectionPortfolioText {
    text-align: center !important;
}
}

