@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lacquer&family=Permanent+Marker&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* CARROUSEL */
#carouselExample {
    max-height: 90vh; /* Se ajusta al 90% de la altura de la ventana */
    overflow: hidden;
}

.carousel-inner .carousel-item img {
    height: 100%;
    object-fit: cover; 
}

/* CARROUSEL TEXT */
.carousel-fixed-text {
    position: absolute; /*Usas absolute para ignorar el flujo normal*/
    width: 100%;
    text-align: left;
    top: 20%; 
    left: 15vw;
    padding: 0 10px;
    z-index: 10; /* controla la "profundidad" visual de los elementos, posiicion al texo por encima de las imagenes */
    color: white; 
}

.carousel-h1  {
    font-size: 3.5rem;
    font-family: var( --font-title);
    font-weight: 320; 
    word-spacing: 0em;
}

.carousel-h1 span {
    font-family: var(--font-pastel);  /* Aplica la fuente correcta al span */
    font-size: 5rem;
    word-spacing: 0em;
}

.carousel-fixed-text  p  {
    font-family: var(--font-text);
    font-size: 2rem;
    font-weight: 300; 

}


/* CARROUSEL BOTON */
.carousel-fixed-text button  {
    font-family: "Urbanist", sans-serif; /* Aplica la fuente Urbanist */
    color: white !important;
    border-color: white !important;
    border-radius: 8px;
    margin-top: 2.5em !important;
    font-size: 2rem;
    font-weight: 300;
    padding: 5px 10px;
}

.carousel-fixed-text button:hover {
    color: white !important;
    border-color: white !important;
    background-color: transparent !important; /* Mantiene el fondo transparente al hacer hover */
    box-shadow: none !important; /* Elimina el efecto de sombra */
}

/* ICONOS */

.carousel-iconos {
    position: absolute; 
    bottom: 5%; 
    right: 5%; 
    z-index: 10; 
    display: flex; 
    gap: 0;
    max-width: 100%;
}

.carousel-iconos img {
    width: 9vw; /* Ajusta el tamaño de los íconos */
    height: auto; /* Mantiene la proporción del aspecto */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    margin: 0;
    margin-right: -2vw;
}



/* Media querys*/ 
