/* SECTION */
.cards-section {
  background-color: rgb(248, 248, 248);
  padding: 4rem 2rem;
}

/* ===== CARD BASE ===== */
.card-wrapper {
  width: 100%;
  max-width: 300px;   
}

.custom-card-container {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

/* Imagen */
.card-img-custom {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: opacity 0.3s ease;
}

/* Overlay */
.card-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
  color: white;
  text-align: center;
  border-radius: 12px;
  transition: opacity 0.3s ease;
}

.card-text-wrapper {
  transform: translateY(10px);
  transition: transform 0.3s ease;
}

.custom-card-container:hover .card-text-wrapper {
  transform: translateY(0);
}

/* SOLO afecta a los títulos dentro de SECTION CARDS */
#SectionCards .card-title {
  font-size: 0.8rem !important;
  font-family: var(--font-title);
  font-weight: 300;
}

#SectionCards .card-text {
  font-size: 0.7rem !important;
  font-family: var(--font-text);
}

#SectionCards .linkedin-text {
    font-size: 0.7rem !important;
    font-family: var(--font-text);
    margin-top: 0.5rem;
    display: block;
    color: white;
    opacity: 0.9;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

#SectionCards .linkedin-text:hover {
    opacity: 1;
    text-decoration: underline;
}


/* responsive */
@media (max-width: 1024px) {
  #SectionCards .card-title {
    font-size: 0.7rem !important;
  }

  #SectionCards .card-text {
    font-size: 0.5rem !important;
  }
}

/* Tablets chicas / Celulares grandes (≤768px) */
@media (max-width: 768px) {
  #SectionCards .card-title {
    font-size: 0.95rem !important;
  }

  #SectionCards .card-text {
    font-size: 0.8rem !important;
  }
}
