.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Fondo negro transparente inicial */
    color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-family: var(--font-title);
    font-weight: 200;
  }
  
  .card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro translúcido */
    opacity: 1;
  }